body{
   background-image: url(/img/gym1.jpg);
   background-repeat: no-repeat;
   background-size: 99%;
   background-position-x: center;
   background-position-y:top;
   background-color: white;
   background-attachment:fixed;
   font-family: 'Roboto', sans-serif, Arial, Helvetica;
}

header{
  height:fit-content;
  background-color: black;
  opacity: 85%;
}

#imgLogo{
    width: 180px;
    height: 60px;
    margin: 15px 0px 10px 10px;
}

#botoneraPrincipal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#F39C12;
  opacity: 80%;
}

.listItem a {
  float: left;
  display: block;
  color:black;
  font-weight:600;
  text-align: center;
  padding: 14px 25px;
  text-decoration:none;
}

.listItem a:hover {
  background-color:green;
  color: white;
}

p, h1, h2{
  color: #F39C12;
  padding: 0px 15px 5px 15px;
}

p{
  font-size: 16px;
}

h1, h2{
  font-size: 18px;
}

.parrafoInfo, h1, h2{
  text-align:center;
}

#enConstruccion{
    font-size: 60px;
    text-align: center;
}

#parrafoInscripcion{
    font-size: 20px;
    text-align: center;
}

#contenidoPrincipal{
  width: 80%;
  height:fit-content;	 
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  z-index: -1;
}

.presentacion{
  width: 450px;
  height: auto;
  background-color: #32344f;
  opacity: 85%;
  border-radius: 20px;
  float:left;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 10px;
  box-sizing: border-box;
}

#presentacionSocios{
  width: auto;
  height: auto;
  background-color: #32344f;
  opacity: 85%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 10px;
  box-sizing: border-box;
}

#presentacionInscripcion{
  width: 200px;
  height: 50px;
  background-color: #32344f;
  opacity: 85%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#botones{
    float: left;
    margin-bottom: 60px;
    margin-left: 80px;
}

#googleMap{
  float: right;
  margin: 10px;
}

#propGoogleMap{
  width: 400px;
  height: 250px;
  border: 5px;
  border-radius: 20px;
}


#datosFooter{
  background-color:#F39C12;
  opacity: 70%;
  width: 100%;
  height: 40px;
  margin-bottom: 3px;
  position:fixed;
  bottom: 0;
}

#parrafoFooter{
  color: black;
  font-weight: 600;
  text-align:center;
  margin-top: 12px;
}


@media all and (min-width: 750px) and (max-width: 1100px){

body{
   background-image: url(/img/gym1.jpg);
   background-repeat:round;
   background-size: 99%;
   background-position-x: center;
   background-position-y:top;
   background-color: #F39C12;
   background-attachment:fixed;
   font-family: 'Roboto', sans-serif, Arial, Helvetica;
   background-size: 99%;
}

header{
  height:fit-content;
  background-color: black;
  opacity: 85%;
}

#imgLogo{
    width: 180px;
    height: 60px;
    margin: 15px 0px 10px 10px;
}

#botoneraPrincipal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#F39C12;
  opacity: 80%;
}

.listItem a {
  float: left;
  display: block;
  color:black;
  font-weight:600;
  text-align: center;
  padding: 14px 25px;
  text-decoration:none;
}

.listItem a:hover {
  background-color:green;
  color: white;
}

p, h1, h2{
  color: #F39C12;
  padding: 0px 15px 5px 15px;
}

p{
  font-size: 14px;
}

h1, h2{
  font-size: 16px;
}

.parrafoInfo, h1, h2{
  text-align:center;
}

#contenidoPrincipal{
  width: 95%;
  height:fit-content;	 
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.presentacion{
  width: 90%;
  height: auto;
  background-color: #32344f;
  opacity: 85%;
  border-radius: 20px;
  padding: 10px;
  margin: 15px 5% 15px 5%;
  box-sizing: border-box;
}

#botones{
    float: left;
    margin-bottom: 60px;
    margin-left: 40px;
}

#googleMap{
  float: right;
  margin: 10px;
  margin-bottom: 50px;
}

#propGoogleMap{
  width: 400px;
  height: 250px;
  border: 5px;
  border-radius: 20px;
}

#datosFooter{
  background-color:#F39C12;
  opacity: 70%;
  width: 100%;
  height: 40px;
  margin-bottom: 3px;
  position:fixed;
  bottom: 0;
}

#parrafoFooter{
  color: black;
  font-weight: 600;
  text-align:center;
  margin-top: 12px;
}
}


@media all and (min-width: 400px) and (max-width: 749px){

body{
   background-size: 99%;
   background-image: none;
   background-color: white;
   font-family: 'Roboto', sans-serif, Arial, Helvetica;
}

header{
  height:fit-content;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

#imgLogo{
    width: 180px;
    height: 60px;
}

#botoneraPrincipal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#F39C12;
  opacity: 80%;
}

.listItem a {
  float: left;
  display: block;
  color:black;
  font-weight:600;
  text-align: center;
  padding: 14px 25px;
  text-decoration:none;
}

.listItem a:hover {
  background-color:green;
  color: white;
}

p, h1, h2{
  color: #F39C12;
  padding: 0px 5px 5px 5px;
}

p{
  font-size: 12px;
}

h1, h2{
  font-size: 14px;
}

.parrafoInfo, h1, h2{
  text-align:center;
}

#contenidoPrincipal{
  width: 90%;
  height:fit-content;	 
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  z-index: -1;
}

.presentacion{
  width: 100%;
  height: auto;
  background-color: #32344f;
  opacity: 85%;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#googleMap{
  float: right;
  margin: 10px;
}

#propGoogleMap{
  width: 400px;
  height: 250px;
  border: 5px;
  border-radius: 20px;
}

#datosFooter{
  background-color:#F39C12;
  opacity: 70%;
  width: 100%;
  height: 40px;
  margin-bottom: 3px;
  position:fixed;
  bottom: 0;
}

#parrafoFooter{
  color: black;
  font-weight: 600;
  text-align:center;
  margin-top: 10px;
}  
}

